*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: #5e85c3;
}

.main{  
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 70px auto 10px auto;
    border-radius: 10px;  
    padding: 30px;
    background-color:#92dc99 ;
    box-shadow: 10px 10px 10px 2px red;
}

#head{
    display: flex;
    justify-content: space-between; 
    border-bottom:1px solid #333 ;
}

#head #playscore{
    display: none;
    font-size: 19px;
    font-weight: 700;
}



#head h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    padding-bottom: 30px;

}


.quiz{
    padding: 20px 0px;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background-color: #aae0db;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    margin: 10px 0px;
    padding: 10px;
    text-align: left;
    border-radius:4px ;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 2px 2px 2px 2px ;

}

.btn:hover:not(:disabled){
    background: #5e94a0;
    color: #fff;
    box-shadow: 5px 5px 5px 5px green ;

}
.btn:disabled{
    cursor: no-drop;
}


#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 100px;
    border: 0px;
    padding: 10px;
    margin: 20PX auto 0;
    border-radius: 4PX;
    cursor: pointer;
    display: none;
}


.correct{
    background: #6aeaa1;
}

.incorrect{
    background:#ee7070;
}